body {
  font-family: 'Poppins', sans-serif;
}

.MainPanel {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.event {
  display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;  
}

.eventTitle {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.incidentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.inci {
    background: rgb(13, 27, 58);
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.inci:hover {
  background: linear-gradient(to right, #b71c1c, #7f0000);
  transform: scale(1.05);
}

.alarm {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    width: 100%;
    padding: 10px;
}

.reportCount{
  font-size: 1.3rem;
  font-weight: bold;
  color: #0000009f;
}

.reportNum {
  font-size: 2.5rem; 
  font-weight: bolder; 
  color: #b71c1c; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  padding: 2px 2px;
}

@media (max-width: 900px) {
  .MainPanel {
    grid-template-columns: 1fr 1fr; /* Two columns: Event + Alarm beside LiveStream */
    grid-template-rows: auto; /* No stacking */
    width: 100%;
    max-width: none;
  }

  .event,.alarm {
      width: 100%;
  }

  .incidentContainer {
      justify-content: center;
  }
}

@media (max-width: 600px) {
  .MainPanel {
      padding: 15px;
      grid-template-columns: 1fr;
  }

  .inci {
      padding: 12px 18px;
      font-size: 1rem;
  }
}
