
.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    backdrop-filter: blur(2px);
}

/* Floating Panel */
.floatingpanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    width: 350px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Inputs */
.floatingpanel input{
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.floatingpanel input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.floatingpanel select {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.floatingpanel input:focus,
.floatingpanel select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

select {
    color: rgba(0, 0, 0, 0.63);
}

/* Close Button */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.082);
    border: 1px solid #000;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: #ff0000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.closeButton:hover {
    background: rgb(255, 0, 0);
    color: white;
}

/* Header */
.h2 {
    color: #000000a8;
    margin: 10px 0 20px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}

/* Button Container */
.buttons {
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}


.buttons:hover {
    background: #039c03;
}

/* Messages */
.successMessage,
.errorMessage {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.successMessage {
    color: #28a745;
}

.errorMessage {
    color: #dc3545;
}
