/* Ensure the dropdown button container has relative positioning */
.dropdownContainer {
    gap: 20px;
    position: relative; 
}

/* Dropdown button style */
.dropdownButton {
    background-color: #dfdfdf;
    color: rgb(59, 59, 59);
    padding: 6px;
    border: 0.6px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    text-align: left;
    min-width: 200px;
    justify-content: space-between;
    margin-bottom: 7px;
}

/* Dropdown list styling */
.dropdownList {
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 220px;
    max-height: 250px;
    overflow-y: auto;
    padding: 12px;
    font-size: 13px;
}

.dropdownLabel {
    display: flex; 
    align-items: center; 
    margin-bottom: 8px; 
}

.dropdownLabel input {
    margin-right: 8px; 
}


