

.title {
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    color: #000000a8;
    font-size: 30px;
    display: flex;
}

.floatingPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 9999;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.searchContainer {
    display: flex; 
    align-items: center; 
}

.exportButton {
    background-color: #34a853; 
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 10px;
}

.exportButton:hover {
    background-color: #2b8b3e;
}

.searchInput {
    width: 40%; 
    padding: 10px; 
    margin: 0;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s; 
}

.searchInput:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.tableContainer {
    max-height: 300px; 
    overflow-y: auto;  
    overflow-x: auto; 
    border: none;
    width: 100%;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 3px 9px;
    cursor: pointer;
    border-radius: 5px;
}

.loading{
    color: #00000059;
}

.closeButton:hover {
    background: darkred;
}

.table {
    width: 100%; 
    border-collapse: collapse;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.table th, .table td {
    border: 0.05px solid #0000003a;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

.table th {
    background-color: #00000042;
    text-align: center;
    position: sticky; 
    top: 0; 
    z-index: 2;
}

.table thead {
    position: sticky;
    top: 0;
    background: white;  
    z-index: 1;
}

.deleteButton {
    margin: 2px;
    padding: 3px 7px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.deleteButton {
    background-color: #b60000;
    color: white;
}

.deleteButton:hover {
    background-color: #ff1d04;
}

.eyeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
}

.eyeButton:hover {
    color: #0056b3;
}

.dropdownContainer {
    display: flex; 
    gap: 10px;
    align-items: center;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 10%; 
}
.table th:nth-child(2), .table td:nth-child(2) {
    width: 20%; 
}